.testimonial
  &-carousell
    max-width: 800px
    margin: auto
    padding-top: 145px
    padding-bottom: 126px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    &::after
      content: ''
      width: 100%
      margin-top: 80px
      position: relative
      border: 1px solid #E5EAF4
    &__pagination
      display: flex
      flex-direction: row
    &__dot
      list-style: none
      margin: 0 5px
      width: 20px
      height: 20px
      background-color: #B3BAC5
      border-radius: 50%
      &--active
        background-color: #183B56
        transition: all 200ms ease-out

  &-slide
    display: none
    &--active
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      opacity: 1 !important
      -webkit-transition: opacity 0.5s
      transition: opacity 0.5s !important
    &__icon
      height: 80px
      width: 70px
    &__text
      font-family: HK Grotesk
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 42px
      text-align: center
      letter-spacing: 0.133333px
      color: $text-color
